body {
  color: $font-color;
  font-family: $font-style;
  font-size: 1em;
  background-color: $background-color;
  line-height: 1.2;
  height: 100%;
  /*-webkit-font-smoothing: antialiased;*/
}

h1, h2, h3 {
  margin-top: 30px;
}

a {
    color: black;
}

a:visited {
}

a:hover {
  background-color: white;
}

blockquote {
  text-align: justify;
}

main {
  padding: 0 $margin;
  max-width: $content-width;
  min-height: 80%;
}

time {
  color: #898989;
}
.container {
  max-width: $content-width;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 40px;
  width: 100vw;
  clear: both;
  position: relative;
  display: block;
}

ul{
 list-style:circle;
}

ul.noPoints {
  list-style: none;
  padding: 0;
  list-style-type: none;
}

tr:hover {
  background-color: white;
}

th, td {
  padding: 10px;
  text-align: left;
}

td {
  height: 50px;
  vertical-align: top;
}

.header {
  text-align: center;
  margin: 0 auto;
}

span.hovertags {
  visibility: hidden;
  color: grey;
}

a:hover + span.hovertags {
  visibility: visible;
}

.index {
  float: left;
  width: 300px;
}