--- 
layout: parsons_post
---
<div>
<h2>core interaction</h2>

this is the homepage for the 2020 edition of the parsons school of design core interaction studio and lab, taught by <a href="https://zhexi.info">gary zhexi zhang</a> and <a href="http://agnescameron.info">agnes cameron</a>.

<div class="indexContainer">
  <div class="index">
  <h2>studio</h2>

        <ul class="noPoints">
        {% for post in site.posts reversed %}
          {% if post.path contains 'parsons' and post.path contains 'studio' %}
          <li class="mainList">
            {{ post.date | date: "%m/%d" }}  <a href="{{ post.url }}">{{ post.title }}</a> <br>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>

  <div class="index">
  <h2>lab</h2>

        <ul class="noPoints">
        {% for post in site.posts reversed %}
          {% if post.path contains 'parsons' and post.path contains 'lab' %}
          <li class="mainList">
            {{ post.date | date: "%m/%d" }}  <a href="{{ post.url }}">{{ post.title }}</a> <br>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>
</div> 
</div>